.content{
    font-family: 'Times New Roman', Times, serif;
    color:darkred;
    text-align: center;

}
#first{
    text-align: center;
    
    
}
img{
    display: block;
    margin: auto;
    height: 400px;
    width: 700px;
}


#second{
    text-align: center;
    word-wrap: break-word;
    
}
#third{
    font-size: small;
}
